input[type=text], input[type=password], input[type=email] {

  	padding: 15px;
  	border: 1px solid #4C241A;
	width: 200px;
	background: transparent;
	border-radius: 5px;
	height: 20px;
	color: #4C241A
	font-weight: 300;
	line-height: normal;
	font-size: 16px;
	font-family: 'Modern No. 20';
	margin: 15px;
}
button{		
	margin-right: 15%;
	margin-top: 15px;
	cursor:pointer;
	border-radius: 5px;
	height: 50px;
	font-family: 'Modern No. 20';
	font-weight: 300;
	font-size: 16px;
	border:1px solid #4C241A;
	width: 150px;
	color: #4C241A;
}
button:hover {
  transition: .5s ease-in-out;
  color: #FAF6EA;
  background-color: #4C241A;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
}
a {
  color: dodgerblue;
  margin-top: 0;
  margin-left: 10%;
}
footer{
	margin: 0;
	padding-top: 303px;
}

form{
	width: 100%;
	width: 400px;
	margin: 100px;
	display:-moz-flex;
	display: flex;
	display:-o-flex;
	justify-content: space-around;
	flex-wrap: wrap;}


*{
	margin:0;
	padding: 0;
}
body{	background-color: #FAF6EA;
		font-family: 'Modern No. 20';
		font-family: 'Neothic';
		font-family: 'Old Standard TT';
		font-family: "MADE SAONARA";
		height:680px;
		max-height:100%;

}
